<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="management.component.css">
    <title>Management</title>
</head>
<body>
    <div class="container">
        <h1>Absences Requests</h1>
    <div class="absences">
        <div class="absence">
            <div class="absence-info">
                <h2>Employee Name</h2>
                <p>Start Date: 01/05/2023</p>
                <p>End Date: 05/05/2023</p>
                <p>Type: Vacation</p>
            </div>
        <div class="absence-actions">
            <button class="accept">Accept</button>
            <button class="decline">Decline</button>
        </div>
        </div>
        <div class="absence">
        <div class="absence-info">
            <h2>Employee Name</h2>
            <p>Start Date: 10/05/2023</p>
            <p>End Date: 12/05/2023</p>
            <p>Type: Sick Leave</p>
        </div>
        <div class="absence-actions">
            <button class="accept">Accept</button>
            <button class="decline">Decline</button>
        </div>
        </div>
</div>
</div>
</body>
</html>