body {
    background-image: url('malaga-backg.jpg');
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    font-family: Arial, sans-serif;
}

header {
    background-color: #e6f4ff;
    color: #007FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    /* border: 1px solid #0077be; */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-left: 1rem;
}

nav a {
    color: #007FFF;
    text-decoration: none;
}



.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #007FFF;
}

.absences {
    display: flex;
    flex-direction: column;
}

.absence {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e6f4ff;
}

.absence-info {
    flex: 1;
}

.absence-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #007FFF;
}

.absence-info p {
    margin: 5px 0;
}

.absence-actions button {
    background-color: #007FFF;
    border: 2px solid #e6f4ff;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.absence-actions button:hover {
    background-color: #0058B8;
    color: #fff;
}
